<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//FR" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Dr. Jean-Pierre D&eacute;ziel D.M.D.</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>

<body>
<div id="ombre">
  <div ID="wrapper">

    <div ID="sidebar">
      <a href="/">
        <%= image_tag 'logo.png', alt: 'logo', id: 'logo' %>
      </a>

      <ul>
        <li><%= link_to 'Présentation', page_path('presentation') %></li>
        <li><%= link_to 'Documentation', page_path('documentation') %></li>
        <li><%= link_to 'Prévention', page_path('prevention') %></li>
        <li><%= link_to 'Services offerts', page_path('services') %></li>
        <li><%= link_to 'Contact', page_path('contact') %></li>
      </ul>
    </div>

    <div ID="main">
      <div id="header">
        <a href="/">
          <%= image_tag 'titre.png', alt: 'titre' %>
        </a>
      </div>

      <div id="content">
        <div class="head">
          <%= content_html @properties.find_by_name('header_link').value %>
        </div>
        <section class="boite">
          <%= yield %>
        </section>
        <div class="boitefooter">
          <%= image_tag 'horaire.png', alt: 'horaire' %>
          <%= content_html @properties.find_by_name('schedule').value %>
        </div>
        <div class="boitefooter">
          <%= image_tag 'adresse.png', alt: 'adresse' %>
          <%= content_html @properties.find_by_name('address').value %>
        </div>
        <div id=footer>
          Tous droits r&eacute;serv&eacute;s &copy; Jean-Pierre D&eacute;ziel, 2009
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>